@import url('./__items/footer__items.css');
@import url('./__item/footer__item.css');
@import url('./__link/footer__link.css');
@import url('./__copyright/footer__copyright.css');

.footer {
  max-width: 1184px;
  margin: 0 auto;
  padding-top: 160px;
  padding-bottom: 48px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1280px) {
  .footer {
    width: calc(100% - 96px);
  }
}

@media (max-width: 1023px) {
  .footer {
    width: calc(100% - 48px);
  }
}

@media (max-width: 767px) {
  .footer {
    padding: 0;
    padding-top: 64px;
    display: block;
    width: calc(100% - 32px);
  }
}