.cover__subtitle {
  position: absolute;
  margin: 0;
  bottom: 8.08%;
  width: 382px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  text-align: center;

  color: #FFFFFF;
  z-index: 1;
}

@media (max-width: 767px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 17px;
    width: 288px;
  }
}