.lead__title {
  width: 720px;
  margin: 0;
  margin-top: 58px;
  font-weight: 900;
  font-size: 96px;
  line-height: 93px;
  text-align: center;
  color: #ffffff;
}

@media (max-width: 740px) {
  .lead__title {
    margin-top: 41px;
    font-size: 10.667vw;
    width: 90%;
    line-height: 11.733vw;
  }
}

@media (max-width: 375px) {
  .lead__title {
    margin-top: 41px;
    font-size: 40px;
    width: 90%;
    line-height: 44px;
  }
}