.lead__subtitle {
  margin: 0;
  margin-top: 38px;
  width: 583px;
  font-size: 30px;
  font-weight: normal;
  line-height: 36px‬;
  text-align: center;
  color: #ffffff;
}

@media (max-width: 740px) {
  .lead__subtitle {
    font-size: 4.267vw;
    line-height: 6.133vw‬;
    width: 90%;
    margin-top: 8px;
  }
}

@media (max-width: 375px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 23px‬;
    width: 90%;
    margin-top: 8px;
  }
}