.footer__top {
  position: relative;

  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  max-width: 1110px;
  
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  margin-bottom: 10px;
  padding-top: 20px;
}

@media (min-width: 425px) {
  .footer__top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;

    margin-bottom: 40px;
    padding-top: 61px;
  }
}
