.footer__copyright {
  position: absolute;
  left: 0;
  bottom: 0;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  justify-self: start;
  color: #939EA4;
  align-self: flex-start;
}

@media (min-width: 425px) {
  .footer__copyright {
    position: unset;
    align-self: unset;
  }
}