.hero__heading {
  margin: 0;
  padding: 0;
  max-width: 540px;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 1px;
  color: #091133;
}

@media (min-width: 768px) {
  .hero__heading {
    font-size: 50px;
    line-height: 66px;
  }
}