@import url('__content/header__content.css');
@import url('__large/header__large.css');
@import url('__small/header__small.css');
@import url('__logo/header__logo.css');
@import url('__button/header__button.css');
@import url('__content/header__content.css');
@import url('__navigation/header__navigation.css');

.header {
  width: 100%;
  padding: 0 4.6875vw;
  padding-top: 12px;
  box-sizing: border-box;
}