@import url('__checkbox-custom/hamburger__checkbox-custom.css');
@import url('__checkbox-original/hamburger__checkbox-original.css');
@import url('__item/hamburger__item.css');
@import url('__link/hamburger__link.css');
@import url('__link/_text-type/hamburger__link_text-type_bold.css');
@import url('__menu/hamburger__menu.css');

.hamburger {
  position: relative;
}

.hamburger__checkbox-original:checked ~ .hamburger__checkbox-custom::before {
  content: '+';
  transform: rotate(45deg);
}

.hamburger__checkbox-original:checked ~ .hamburger__menu {
  transform: none;
  opacity: 1;
}